<div id="tasks">
  <% if tasks.any? %>
    <div class="mb-3" data-sortable-tasks>
      <% tasks.each do |task| %>
        <%= turbo_frame_tag "#{dom_id(task)}_edit", class: 'group block bg-zinc-900 border-b border-b-zinc-700 relative flex justify-between items-center py-2', data: { task_id: task.id } do %>
          <div class="opacity-0 group-hover:opacity-100 absolute -left-[25px] pr-[5px]">
            <%= heroicon 'bars-3', options: { class: 'h-5 w-5 cursor-move text-zinc-300', data_handle: true } %>
          </div>

          <div class="flex items-center gap-2">
            <%= link_to complete_users_project_task_path(@project, task), data: { turbo_method: :post }, class: 'group/check w-[18px] h-[18px] rounded-full border border-zinc-400' do %>
              <%= heroicon 'check', options: { class: 'group-hover/check:opacity-100 opacity-0 transition-opacity duration-200 text-zinc-400 w-3 h-3 mt-[2px] ml-[2px]' } %>
            <% end %>

            <div class="text-sm text-slate-200">
              <%= task.name %>
            </div>
          </div>

          <div class="flex gap-2">
            <div>
              <%= link_to 'Edit', edit_users_project_task_path(@project, task), class: 'text-sm' %>
            </div>

            <div>
              <%= link_to 'Delete', users_project_task_path(@project, task), class: 'text-sm', data: { turbo_method: :delete, turbo_confirm: 'Are you sure?' } %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>