<div class="flex flex-col items-center">
  <div class="w-full max-w-3xl mt-10">
    <h1 class="font-semibold text-2xl max-w-xl mb-10">
      <%= @project.name %>
    </h1>

    <% if @tasks.any? %>
      <div class="mb-3">
        <% @tasks.each do |task| %>
          <turbo-frame id="edit_task">
            <div class="flex justify-between items-center py-3 border-b border-b-slate-700">
              <div class="text-sm text-slate-200">
                <%= task.name %>
              </div>

              <div>
                <%= link_to 'Edit', edit_users_project_task_path(@project, task), class: 'text-sm' %>
              </div>
            </div>
          </turbo-frame>
        <% end %>
      </div>
    <% end %>

    <% new_task_path = new_users_project_task_path(project_id: @project.id) %>

    <%= content_tag 'turbo-frame', id: 'task', src: @show_task ? new_task_path : nil do %>
      <%= link_to new_users_project_task_path(project_id: @project.id), class: 'group', data: { turbo_frame: 'task' } do %>
        <div class="flex gap-2">
          <%= heroicon 'plus', options: { class: 'text-red-500 w-5 h-5 rounded-full group-hover:text-white group-hover:bg-red-500' } %>

          <div class="text-sm text-gray-500 group-hover:text-red-500">
            Add Task
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
