<div class="flex flex-col items-center">
  <div class="w-full max-w-3xl mt-10">
    <h1 class="font-semibold text-2xl max-w-xl mb-4">
      <%= @project.name %>
    </h1>

    <%= render 'tasks', tasks: @tasks %>

    <%= turbo_frame_tag 'new_task_frame' do %>
      <%= link_to new_users_project_task_path(project_id: @project.id), class: 'group' do %>
        <div class="flex gap-2">
          <%= heroicon 'plus', options: { class: 'text-red-500 w-5 h-5 rounded-full group-hover:text-white group-hover:bg-red-500' } %>

          <div class="text-sm text-gray-500 group-hover:text-red-500">
            Add Task
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<script>
  $('[data-sortable-tasks]').sortable({
    handle: '[data-handle]',
    placeholder: 'sortable-placeholder',

    update(event, ui) {
      const index = ui.item.index();
      const taskId = ui.item.data('task-id');

      fetch(`/app/projects/<%= @project.id %>/tasks/${taskId}/update_weight`, {
        method: 'POST',
        body: JSON.stringify({ weight: index + 1 }),
        headers: {
          "Content-Type": "application/json",
        }
      });
    }
  })
</script>
