<!DOCTYPE html>
<html class="h-full">
  <head>
    <title>DoList: A free and open source alternative to Todoist</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application" %>

    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.13.3/jquery-ui.min.js" integrity="sha256-sw0iNNXmOJbQhYFuC9OF2kOlD5KQKe1y5lfBn4C9Sjg=" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/@hotwired/turbo@8.0.5/dist/turbo.es2017-umd.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
  </head>

  <body class="h-full">
    <div class="flex h-full">
      <div class="bg-zinc-800 text-white text-sm p-5 min-w-[300px]">
        <div class="mb-10">
          <div><%= current_user.email %></div>
          <div><%= link_to 'Logout', destroy_user_session_path %></div>
        </div>

        <%= render 'layouts/users/projects', projects: @projects %>
      </div>

      <div class="bg-zinc-900 text-white grow p-5 overflow-scroll">
        <%= yield %>

        <%= turbo_frame_tag 'modal' %>
      </div>
    </div>

    <script>
      $('[data-sortable-projects]').sortable({
        placeholder: 'sortable-placeholder',

        update(event, ui) {
          const index = ui.item.index();
          const projectId = ui.item.data('project-id');

          fetch(`/app/projects/${projectId}/update_weight`, {
            method: 'POST',
            body: JSON.stringify({ weight: index + 1 }),
            headers: {
              "Content-Type": "application/json",
            }
          });
        }
      })
    </script>
  </body>
</html>
